@import '../theme/new-theme/variables';

.search-bar-container {
  display: flex;
}

.search-bar .mat-form-field {
  min-width: 241px;
}

.search-bar .mat-button-base.mat-flat-button,
.mat-button-base.mat-stroked-button,
.mat-button-base.mat-button {
  min-width: 40px;
  padding: 0;
}

.search-btn {
  background-color: $primary;
}

.search-clear-btn {
  height: 29px !important;
}
