@import './src-legacy/app/stylesheets/app.css.scss';

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
  opacity: 0 !important;
}
